.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    margin: 20px;
    padding: 15px;
    
}

.titl{
    text-align: center;
    color: #ffffff;
    border: 2px solid #3f06cf;
    padding: 10px;
    text-align: center;
    font-family: sans-serif;
    background-color: #4609e0;
}