.app{
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.titl{
    text-align: center;
    color: #ffffff;
    border: 2px solid #3f06cf;
    padding: 10px;
    text-align: center;
    font-family: sans-serif;
    background-color: #4609e0;
}