.titl{
    text-align: center;
    color: #ffffff;
    border: 2px solid #3f06cf;
    padding: 10px;
    font-family: sans-serif;
    background-color: #4609e0;
}

h2{
    text-align: center;
    font-family: sans-serif;
    color: #333333;
    border: .5px solid #462cda;
    font-size: small;

}

body {
  background-color: #f5f5f5;
}


.btn {
  min-width: 100px;
}

section{
  padding: 12px;
  border: 1px solid #cccccc;
  
}

.agrega{
  font-weight: bold;
  border: #333333;
  padding: 5px;
}

.tabl{
  border: #333333;
  padding: 5px;
  
}

.tablita, th, td {
  width: 50%;
  border: 2px solid #333333;
  border-collapse: collapse;
}

.botones{
  border: #333333;
  padding: 5px;
  text-align: center;
}

button{
  margin: 5px;
}