.titl{
  text-align: center;
  color: #ffffff;
  border: 2px solid #3f06cf;
  padding: 10px;
  font-family: sans-serif;
  background-color: #4609e0;
}

h2{
  text-align: center;
  font-family: sans-serif;
  color: #333333;
  border: .5px solid #462cda;
  font-size: 15px;
  font-style: italic;
}

body {
  background-color: #f5f5f5;
}


.btn {
  min-width: 100px;
}

section{
  background-color: white;
  border-radius: 10px;
}

.agrega{
  font-weight: bold;
  border: #333333;
  padding: 5px;
}

.tabl{
  border: #333333;
  padding: 5px;
  
}

.tablita, th, td {
  width: 50%;
  border: 2px solid #333333;
  border-collapse: collapse;
}

.botones{
  border: #333333;
  padding: 5px;
  text-align: center;
    margin: 5px;

}

h1 {
  background-color: #0d6efd; /* azul Bootstrap */
  color: white;
  padding: 15px;
  border-radius: 10px;
}

body{
  align-self: start;
}
