.titl{
    text-align: center;
    color: #ffffff;
    border: 2px solid #3f06cf;
    padding: 10px;
    font-family: sans-serif;
    background-color: #4609e0;
}

h2{
    text-align: center;
    font-family: sans-serif;
    color: #333333;
    border: .5px solid #462cda;
    font-size: small;

}

body {
  background-color: #f5f5f5;
}


.btn {
  min-width: 100px;
}

section{
  padding: 12px;
  border: 1px solid #cccccc;
  
}

.agrega{
  font-weight: bold;
  border: #333333;
  padding: 5px;
}

.tabl{
  border: #333333;
  padding: 5px;
  
}

.tablita, th, td {
  width: 50%;
  border: 2px solid #333333;
  border-collapse: collapse;
}

.botones{
  border: #333333;
  padding: 5px;
  text-align: center;
}

button{
  margin: 5px;
}

body {
        background-color: #f5f5f5;
      }

      section {
        max-width: 800px;
        margin: 5 auto; /* centra todo el contenido horizontalmente */
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }

      h1 {
        background-color: #0d6efd; /* azul Bootstrap */
        color: white;
        padding: 15px;
        border-radius: 10px;
      }

      h2 {
        font-size: 15px;
        color: #555;
        font-style: italic;
      }